{% extends "partials/menu.html"  %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
</head>
<body>
    <h1>Usuários no Sistema</h1>
    <br>
    <table>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Perfil</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
                {% for role in role.all %}
                    {{ role.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
